In [1]:
!wget https://gist.githubusercontent.com/NooblyRand0m/404c8a252f89862654c3fa6bba3d8bc3/raw/26c97aa3876ef33f3509e3b1209402c5c138f06c/coursera_week3_cars.csv

--2022-12-27 18:26:17--  https://gist.githubusercontent.com/NooblyRand0m/404c8a252f89862654c3fa6bba3d8bc3/raw/26c97aa3876ef33f3509e3b1209402c5c138f06c/coursera_week3_cars.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 287 [text/plain]
Saving to: ‘coursera_week3_cars.csv.24’

coursera_week3_cars 100%[===================>]     287  --.-KB/s    in 0s

2022-12-27 18:26:18 (11.8 MB/s) - ‘coursera_week3_cars.csv.24’ saved [287/287]

In [2]:
!head coursera_week3_cars.csv

car_type;brand;passenger_seats_count;photo_file_name;body_whl;carrying;extra
car;Nissan xTtrail;4;f1.jpeg;;2.5;
truck;Man;;f2.png;8x3x2.5;20;
truck;Man;;f2.png;;20;
car;Mazda 6;4;f3.jpeg;;2.5;
;;;
spec_machine;Hitachi;;f4;;1.2;Легкая техника для уборки снега

In [3]:
!head coursera_week3_cars.scv

head: cannot open 'coursera_week3_cars.scv' for reading: No such file or directory

In [4]:
import csv
import os
csv_filename = 'coursera_week3_cars.csv'

with open(csv_filename) as csv_fd:
    reader = csv.reader(csv_fd, delimiter=';')
    next(reader)  # пропускаем заголовок
    for row in reader:
        print(row)

['car', 'Nissan xTtrail', '4', 'f1.jpeg', '', '2.5', '']
['truck', 'Man', '', 'f2.png', '8x3x2.5', '20', '']
['truck', 'Man', '', 'f2.png', '', '20', '']
['car', 'Mazda 6', '4', 'f3.jpeg', '', '2.5', '']
['', '', '', '']
['spec_machine', 'Hitachi', '', 'f4', '', '1.2', 'Легкая техника для уборки снега']
[]

Основной класс

In [5]:
class CarBase:        
  def __init__(self, brand, photo_file_name, carrying):
    if not all(i != '' for i in (brand, photo_file_name, carrying)):
      raise ValueError
    self.brand = brand
    self.photo_file_name = photo_file_name
    self.carrying = carrying

  def get_photo_file_ext(self):
    i, ext = os.path.splitext(self.photo_file_name)
    if ext not in ['.jpeg', '.jpg', '.png']:
      raise ValueError
    return ext

Легковой автомобиль

In [6]:
class Car(CarBase):
  car_type = 'car'
  def __init__(self, brand, photo_file_name, carrying, passenger_seats_count):
    super().__init__(brand, photo_file_name, carrying)
    self.passenger_seats_count = int(passenger_seats_count)

Грузовой автомобиль

In [7]:
class Truck(CarBase):   
  car_type = 'truck'
  def __init__(self, brand, photo_file_name, carrying, body_whl):
    super().__init__(brand, photo_file_name, carrying)
    try:
      length, width, height = (float(c) for c in body_whl.split('x', 2))
    except ValueError:
      length, width, height = .0, .0, .0

    self.body_length = length
    self.body_width = width
    self.body_height = height

  def get_body_volume(self):
    return self.body_width * self.body_height * self.body_length

Спецтехника

In [8]:
class SpecMachine(CarBase):
  car_type = 'spec_machine'

  def __init__(self, brand, photo_file_name, carrying, extra):
    super().__init__(brand, photo_file_name, carrying)
    if extra == '':
      raise ValueError
    self.extra = extra

In [9]:
def get_car_list(csv_filename):
  with open(csv_filename) as csv_fd:
    reader = csv.reader(csv_fd, delimiter=';')
    next(reader)

    car_list = []
    cars = {
      'car': lambda x: Car(x[1], x[3], x[5], x[2]),
      'truck': lambda x: Truck(x[1], x[3], x[5], x[4]),
      'spec_machine': lambda x: SpecMachine(x[1], x[3], x[5], x[6])}

    for row in reader:
      try:
        car_type = row[0]
        if car_type in cars:
          car_list.append(cars[car_type](row))
      except (ValueError, IndexError):
        pass
        
  return car_list

Базовые проверки

In [10]:
car = Car('Bugatti Veyron', 'bugatti.png', '0.312', '2')
print(car.car_type, car.brand, car.photo_file_name, car.carrying, car.passenger_seats_count, sep='\n')
# car
# Bugatti Veyron
# bugatti.png
# 0.312
# 2

car
Bugatti Veyron
bugatti.png
0.312
2

In [11]:

truck = Truck('Nissan', 'nissan.jpeg', '1.5', '3.92x2.09x1.87')
print(truck.car_type, truck.brand, truck.photo_file_name, truck.body_length, truck.body_width, truck.body_height, sep='\n')
# truck
# Nissan
# nissan.jpeg
# 3.92
# 2.09
# 1.87

truck
Nissan
nissan.jpeg
3.92
2.09
1.87

In [12]:

spec_machine = SpecMachine('Komatsu-D355', 'd355.jpg', '93', 'pipelayer specs')
print(spec_machine.car_type, spec_machine.brand, spec_machine.carrying, spec_machine.photo_file_name, spec_machine.extra, sep='\n')
# spec_machine
# Komatsu-D355
# 93.0
# d355.jpg
# pipelayer specs

spec_machine
Komatsu-D355
93
d355.jpg
pipelayer specs

In [13]:
spec_machine.get_photo_file_ext()
# '.jpg'

'.jpg'

In [14]:
cars = get_car_list('coursera_week3_cars.csv')
len(cars)
# 4

5

In [15]:
print(cars)

[<__main__.Car object at 0x7f03d2546460>, <__main__.Truck object at 0x7f03d2546640>, <__main__.Truck object at 0x7f03d2546d00>, <__main__.Car object at 0x7f03d2546880>, <__main__.SpecMachine object at 0x7f03d25461f0>]

In [16]:
cars[0].passenger_seats_count
# 4

4

In [17]:
cars[1].get_body_volume()
# 60.0

60.0